input{
    width:100%;
    border-radius:5px;
    padding:5px 10px;
    margin:10px 0px;
}

.container {
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

form {
    display: flex;
    justify-content: center;
    padding: 2em;;
}

form button {
    width: 100% !important;
    margin-top: 10px;
    text-align: center;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    background-color: #669aff !important;
}

form button:hover {
    background-color: #84adff !important;
}

.form-input {
    margin-bottom: 15px;
}

.input-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.auth-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.login-form {
    width: 250px;
}