/*styling the container for homepage*/

.home-container {
  background-color: #96cedf;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
}

.title {
  font-family: "Press Start 2P", sans-serif;
  font-weight: none;
  font-size: 100px;
}

.home-inner-container {
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  height: 100%;
}

.title {
  font-weight: 700;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 30px;
  margin-bottom: 50px;
}

.top-container {
  display: flex;
}

.tagline {
  font-size: 20px;
  text-align: left;
  width: 70%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.cloud-container {
  position: absolute;
}

.cloud {
  width: 70%;
  transform: translateY(-260px) translateX(-130px);
}

.cloudtwo {
  width: 70%;
  transform: translateY(-399px) translateX(960px);
}

.iphone-mockup {
  width: 323px;
  transform: rotate(25deg) translateX(475px) translateY(-468px);
  position: absolute;
}

.btn-play {
  width: 167px !important;
  margin: 39px auto;
  color: white !important;
  font-family: "Montserrat", sans-serif;
  background-color: #669aff !important;
  padding: 0.7rem 1.75rem !important;
}

.btn-play:hover {
  background-color: #4888ff !important;
}

.iphone-tag {
  margin: auto;
  display: flex;
  width: 70%;
  flex-direction: row;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 1233px) {
  .cloud {
    width: 30%;
    transform: translateY(-260px) translateX(-130px);
  }
  .cloudtwo {
    width: 30%;
    transform: translateY(-399px) translateX(960px);
  }
  .home-container {
    height: 100%;
  }

  .headers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .iphone-mockup {
    display: none;
  }
  .headers h1 {
    font-size: 7em;
  }

  .tagline {
    font-size: 2em;
    width: 100%;
    text-align: justify;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 733px) {
  .cloud {
    display: none;
  }
  .cloudtwo {
    display: none;
  }
  .headers h1 {
    font-size: 3em;
  }
  .tagline {
    font-size: 1em;
    width: 100%;
    text-align: justify;
    padding-left: 0px;
  }
  .home-container {
    height: 100%;
  }

  .btn-play {
    width: 110px !important;
    /* margin: 30px auto; */
    color: white !important;
    font-family: "Montserrat", sans-serif;
    background-color: #669aff !important;
    /* padding: 0.7rem 1.75rem !important; */
  }
  .subtitle {
    margin-bottom: 0.1em;
  }
  .title {
    margin-bottom: 0.1em;
  }
}

