.waitroom-container {
    background-color: #96cedf;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.waitroom-container ol {
    font-size: medium;
    padding-bottom: 20px;
}

.players {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.instructions div {
    display: flex;
    justify-content: center;
}

.players div {
    width: 230px;
    padding: 0;
    display: flex;
    /* margin-right: 200px; */
}

.players span {
    width: 100%;
    line-height: 400px;
    margin: 0px 20px;
}

.mario {
    width: 95%;
    height: auto;
}

.luigi {
    width: 100%;
    height: auto;
}

.startmsg p {
    padding-top: 50px;
    text-align: center;
}

.wait-header {
    text-align: center;
    padding-top: 30px;
}

.wait-subheader {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 25px;
}